.item {
  transition: all 0.3s ease;
  
  &:hover {
    color: #dde2ff;
    background: rgba(159, 162, 180, 0.08);
    border-left: 3px solid #dde2ff;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 18px 32px;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}
