.tasks {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  overflow: hidden;
  flex: 1 1 50%;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  &__btn {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #3751ff;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9fa2b4;
    padding: 0 32px 16px;
  }

  &__create-task {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 13px;

    input::placeholder {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.2px;
      color: #c5c7cd;
    }
  }

  // .tasks__input

  &__input {
  }

  // .tasks__plus-btn

  &__plus-btn {
    cursor: pointer;
  }

  // .tasks__item

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px 13px;
    position: relative;

    &:hover {
      background: #e5e5e5;
      cursor: pointer;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252733;
    display: flex;
    align-items: center;
  }

  &__input-label {
    margin-right: 16px;
  }

  &__status-btn {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9FA2B4;
    padding: 5px 12px;
    border-radius: 8px;
    background: #F0F1F7;

    &_urgent {
      background: #fec400;
      color: #ffffff;
    }

    &_new {
      background: #29cc97;
      color: #ffffff;
    }
  }
}
