.main-table {
  width: 100%;

  .header {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #9fa2b4;
    padding: 0 32px 12px;
  }
}

thead td {
  &:nth-child(1) {
    width: 44%;
  }

  &:nth-child(2) {
    width: 24%;
  }

  &:nth-child(3) {
    width: 17.5%;
  }

  &:nth-child(4) {
    width: 14.5%;
  }
}

tbody tr td {
  &:nth-child(1) {
    width: 44%;
  }

  &:nth-child(2) {
    width: 24%;
  }

  &:nth-child(3) {
    width: 17.5%;
  }

  &:nth-child(4) {
    width: 12%;
  }

  &:nth-child(5) {
    width: 2.5%;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}
