.main-content {
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  padding: 32px;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
  }

  &__sort {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #4b506d;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__sort-img {
    width: 16px;
  }
}
